<div class="container">
    <h2 class="page-header">{{ title }}</h2>
    <div class="row">
        <div class="col-md-3 form-group">
            <input [(ngModel)]="courseName" class="form-control" 
                placeholder="Enter Course Name" />
        </div>
        <div class="col-md-9">
            <button type="button" (click)="addCourse()" class="btn btn-primary">Add</button>
        </div>
    </div>
    <ul>
        <li *ngFor="#course of courses">
            {{ course }}
        </li>
    </ul>
</div>